body {
    margin: 5px;
    padding: 5px;
    background-color: #171717;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

a, a:visited {
    color: deepskyblue;
}

footer {
    text-align: center;
}

#projects img {
    float: left;
    margin-right: 10px;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  margin: 0 5px;
}

button {
    margin-left: 3px;
    background-color: #171717;
    color: white;
    border: 1px solid white;
}

@media only screen and (max-width: 600px) {
    .image-container {
        flex-direction: column;
    }

    .image-container img {
        margin: 10px 0;
}
}