@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.josefin-sans-font {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 5px;
    padding: 5px;
    background-color: #171717;
    color: white;
    font-family: "Josefin Sans", sans-serif;
}

a, a:visited {
    color: deepskyblue;
}

footer {
    text-align: center;
}

#projects img {
    float: left;
    margin-right: 10px;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.webring-anchor {
    font-size: 24px;
    color: rgba(132, 146, 166, .8);
    text-decoration: none;
    transition: color .5s;
    padding: 10px;
}

.webring-anchor + .webring-anchor {
    margin-left: 10px;
}

.webring-anchor:hover {
    color: #8492a6;
    text-decoration: none;
}

.webring-logo {
    background-image: url('https://assets.hackclub.com/icon-rounded.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 48px;
    height: 48px;
    margin: 0 4px;
    display: inline-block;
    vertical-align: middle;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img, #webring-wrapper {
  margin: 0 5px;
}